* {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
    padding: 2%;
}
body {
    background-color: #34127a;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex: 1;
    min-height: 0;
}
.logo {
    font-size: 50px;
}
.user-profile {
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    gap: 20px;
}
.start-menu {
    display: flex;
    flex: 3;
    margin-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 0;
}
.left-part, .right-part {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    flex: 1;
    height: 100%;
}
.right-part {
    align-content: flex-end;
}
.menu-item {
    width: 15.5em;
    padding: 2.5em;
    height: 6.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5px;
    text-align: center;
    font-size: 1.1em;
    color: #fff;
}
.double-item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px;
    justify-content: center;

}
.double-item-content{
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
}
.menu-item span {
    position: absolute;
    left: 6px;
    bottom: 4px;
}
.bg-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.bg-flowers {
    background-image: url("images/цветы.jpeg");
}
.bg-plane {
    background-image: url("images/самолет.jpeg");
}
